*{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ab-about{
  width: 100%;
  height: 100vh;
  background-color: #161922;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ab-about .ab-content img{
  height: auto;
  width: 500px;
  max-width: 100%;
}
.ab-content{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.ab-text h1{
  color: #ffcc74;
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.ab-text h5{
  color: white;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.ab-text p{
  color: #c0c4d6;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}
button{
  background-color: #ffcc74;
  color: black;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
}
button:hover{
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #ffcc74;
  color: #ffcc74;
  transition: .4s;
  cursor: pointer;

}
@media screen and (max-width: 1180px) {
  .about{
    width: 100%;
    height: auto;
    padding: 70px 0px;

  }
}
@media (max-width: 767px) {
  .product-card {
    flex-direction: column;
    text-align: center;
  }
  .ab-img1, .ab-img2, .ab-img3, .ab-img4, .ab-img5 {
    width: 100%;
    margin: auto;
  }
  .ab-buy-btn {
    margin-top: 10px;
  }
}
